name: "dropwizard-ci-pipeline"

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build
        run: ./gradlew build -x test

      - name: Test
        run: ./gradlew test

  system-test:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - uses: actions/checkout@v2

      - name: Run docker compose
        run: docker compose up -d --build

      - name: set up python
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"

      - name: Install python dependencies
        run: pip install pytest requests

      - name: Run system tests
        run: pytest

      - name: Bring server down
        run: docker compose down
